<div class="mb-3">
                        <label for="inputAuthors" class="form-label">Judul</label>
                        <input type="text" class="form-control" id="inputAuthors" placeholder="Please enter title">
                    </div>
                    <div class="mb-3">
                        <label for="inputAuthors" class="form-label">Subject</label>
                        <input type="text" class="form-control" id="inputAuthors" placeholder="Please enter title">
                    </div>
                    <div class="mb-3">
                        <label for="inputAuthors" class="form-label">Abstrak</label>
                        <input type="text" class="form-control" id="inputAuthors" placeholder="Please enter title">
                    </div>